<html>
    <head>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <title>Peacekeeper</title>
            <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/popper.min.js"></script>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js" integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="../public/peacekeeper.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Peacekeeper
            </a>
            <span class="navbar-text nav-item">
                <a href="https://discordapp.com/api/oauth2/authorize?client_id=513489106731532291&permissions=8&scope=bot">Invite Peacekeeper</a>
            </span>
        </nav>
        <div class="jumbotron">
            <h1 class="display-4">Peacekeeper</h1>
            <p class="lead">A moderation bot with a modern and powerful web dashboard.</p>
            <hr class="my-4">
            <p>Add Peacekeeper to your server today!</p>
            <a class="btn btn-outline-secondary btn-lg" href="https://discordapp.com/api/oauth2/authorize?client_id=513489106731532291&permissions=8&scope=bot" role="button">Invite</a>
        </div>
        <div class="container text-center">
            <h3 class="display-3">Why Peacekeeper?</h3><br>
            <div class="row">
                <div class="col-sm text-center">
                    <i style="font-size: 56px;" class="fas fa-bolt"></i><br>
                    <p class="lead">Lightning Fast</p>
                </div>
                <div class="col-sm text-center">
                    <i style="font-size: 56px;" class="fas fa-database"></i>
                    <p class="lead">Server-Specific Settings</p>
                </div>
                <div class="col-sm text-center">
                    <i style="font-size: 56px;" class="fas fa-check"></i>
                    <p class="lead">Easy to Use</p>
                </div>
            </div><br>
            <div class="row">
                <div class="col-sm text-center">
                    <i style="font-size: 56px;" class="fab fa-chrome"></i>
                    <p class="lead">Powerful Web Dashboard</p>
                </div>
                <div class="col-sm text-center">
                    <i style="font-size: 56px;" class="fas fa-upload"></i>
                    <p class="lead">Weekly Updates</p>
                </div>
            </div>
            <br><hr>
            <h3 class="display-3">Dashboard</h3>
            <p class="lead">On your <a href="/login">Dashboard</a> you can view all aspects of your server and control them easily.</p>
        </div><br><hr>
        <!-- Footer -->
        <footer class="page-footer font-small pt-4">
            <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                <h5 class="text-uppercase">Peacekeeper</h5>
                <p>A moderation bot with a modern and powerful web dashboard.</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Links</h5>

                    <ul class="list-unstyled">
                    <li>
                        <a href="https://discordapp.com/api/oauth2/authorize?client_id=513489106731532291&permissions=8&scope=bot">Invitaion</a>
                    </li>
                    <li>
                        <a href="/login">Dashboard</a>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="https://github.com/AEJester">About</a>
                    </li>
                    </ul>

                </div>

            </div>

            </div>
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="https://github.com/AEJester"> Ryan Monaghan</a>
            </div>
        </footer>
    </body>
</html>